<header>
  <h1>
    <a href="{{ "/" | relative_url }}">
      <span class="poetic-line">真砂なす</span>
      <span class="poetic-line">数なき</span>
      <span class="poetic-line">山巓の</span>
    </a>
  </h1>

  <a href="{{ "/" | relative_url }}" class="logo-link">
    <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Site Logo" class="site-logo">
  </a>

  <p>{{ site.description | default: site.github.project_tagline }}</p>
  
  {% if site.nav %}
  <nav>
      <ul>
          {% for item in site.nav %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endfor %}
      </ul>
  </nav>
  {% endif %}
</header>