---
---

@import "{{ site.theme }}";


.wrapper {
  max-width: 1200px !important;
  width: 94%;
  margin: 0 auto;
}

body {
  font-size: 16px;
  line-height: 1.7;

  background-color: #FFF8E7;
  color: #333;
}

/* PC表示時 */
@media print, screen and (min-width: 960px) {
  header {
    width: 280px;
  }
  section {
    width: calc(100% - 310px);
    max-width: none;
  }
}

/* パンくずリスト */
.breadcrumbs {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #666;

  a {
    text-decoration: none;
    color: #337ab7;
  }
}

/* Home以外のフッターエリア */
.site-footer {
  clear: both;
  width: 100%;
  display: block;

  background-color: transparent;
  margin-top: 80px;
  padding: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.8em;
  color: #999;
  line-height: 1.5;

  a {
    color: #999;
    text-decoration: underline;
  }
}

/* ロゴ */
.site-logo {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* GitHubアイコンのスタイル */
.github-icon {
  fill: #333;
  transition: opacity 0.3s ease;
}
a:hover .github-icon {
  opacity: 0.7;
}
.header-gh {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-gh {
  margin-bottom: 20px;
}

/* Home以外でのグローバルナビゲーション */
.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  background-color: #2F3437;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  height: auto;

  /* ナビゲーションの配置 */
  .site-nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; /* 横に並べる */
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
    }

    li {
      margin: 0;

      a {
        text-decoration: none;
        color: #FFF8E7;
        font-weight: bold;
        font-size: 0.9rem;

        &:hover {
          color: #2980b9;
          text-decoration: underline;
        }
      }
    }
  }
}

/* ヘッダーと本文とをずらす */
.wrapper {
  margin-top: 80px !important;
}

/* スマホ等対応 */
@media screen and (max-width: 600px) {
  .wrapper {
    margin-top: 100px !important;
  }
}