<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% if page.url != "/" %}
      <header class="global-header">
        {% include top-nav.html %}
      </header>
    {% endif %}

    <div class="wrapper">
      {% if page.url == "/" %}
        {% include header.html %}
      {% endif %}

      <section>

        {% if page.url != "/" %}
        <div class="breadcrumbs">
            <a href="{{ "/" | relative_url }}">Home</a>
            {% if page.collection %}
              &gt; <a href="{{ '/' | append: page.collection | append: '/' | relative_url }}">{{ page.collection | capitalize }}</a>
            {% endif %}
            &gt; {{ page.title }}
        </div>
        <div class=""></div>
        {% endif %}

        {{ content }}

      </section>

    </div>

    {% include footer.html %}

  </body>
</html>