<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">

      {% if page.url == "/" %}
        {% include header.html %}
      {% endif %}

      <section>

        {% if page.url != "/" %}
        <div class="breadcrumbs">
            <a href="{{ "/" | relative_url }}">Home</a>
            {% if page.collection %}
              &gt; <a href="{{ '/' | append: page.collection | append: '/' | relative_url }}">{{ page.collection | capitalize }}</a>
            {% endif %}
            &gt; {{ page.title }}
        </div>
        {% endif %}

        {{ content }}

      </section>

    </div>

    {% include footer.html %}

  </body>
</html>